{layout name="layout" /}
		<div class="ny_test_data color-495877" >
			<div class="core">
				<div class="index1-text2">
					<span>Update Mixer's Program</span>
				</div>

				<div class="banner-en font18 test_data_en margin_top20">
					<i>1</i>
					<h3>Download the "Program.txt" from this web.</h3>
				</div>
				<div class="test_data1 text-right">
					<div class="test_data_left">
						<div class="high1-img text-center">
							<img class="test_data_img" src="__IMG_PATH__/test_data/test_data_08.jpeg" >
						</div>
					</div>
					<div class="test_data_right">
						<div class="high1-img text-center">
							<img class="test_data_img" src="__IMG_PATH__/test_data/test_data_09.png" >
						</div>
					</div>
				</div>

				<div class="high1-img text-center">
					<img class="test_data_arrow" src="__IMG_PATH__/test_data/test_data_11.png" >
				</div>

				<div class="banner-en font18 test_data_en margin_top20">
					<i>2</i>
					<h3>Copy the "Program.txt" into USB drive.</h3>
				</div>
				<div class="test_data1 text-right">
					<div class="test_data_left">
						<div class="high1-img text-center">
							<img class="test_data_img" src="__IMG_PATH__/test_data/test_data_01.jpeg" >
						</div>
					</div>
					<div class="test_data_right">
						<div class="high1-img text-center">
							<img class="test_data_img" src="__IMG_PATH__/test_data/test_data_02.jpeg" >
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="test_data_high pageBg">
			<div class="core">
					<div class="high1-img text-center">
						<img class="test_data_arrow" src="__IMG_PATH__/test_data/test_data_11.png" >
					</div>

					<div class="banner-en font18 test_data_en margin_top20">
						<i>3</i>
						<h3>Turn on the mixer and wait until the blue button is stable.</h3>
					</div>

					<div class="test_video text-right">
						<div class="test_data_left">
							<div class="test_video1 text-center">
								<video class="edui-upload-video  vjs-default-skin video-js video-bg" controls="" preload="none" width="1000" height="460" src="__IMG_PATH__/test_data/test_data_02.mp4" data-setup="{}" poster="__IMG_PATH__/test_data/test_data_05.jpeg"></video>
							</div>
						</div>
					</div>

					<div class="high1-img text-center">
						<img class="test_data_arrow" src="__IMG_PATH__/test_data/test_data_11.png" >
					</div>

					<div class="banner-en font18 test_data_en margin_top20">
						<i>4</i>
						<div>
							<h3>Hold the button for 5 seconds and release it.</h3>
							<h3>When the blue button is flashing, insert the USB drive on the mixer's back cover.</h3>
							<h3>Next wait for a few seconds until the blue button is stable. Then turn off the mixer and remove the USB drive.</h3>
						</div>
					</div>

					<div class="test_video text-right">
						<div class="test_data_left">
							<div class="test_video1 text-center">
								<video class="edui-upload-video  vjs-default-skin video-js video-bg" controls="" preload="none" width="1000" height="460" src="__IMG_PATH__/test_data/test_data_01.mp4" data-setup="{}" poster="__IMG_PATH__/test_data/test_data_05.jpeg"></video>
							</div>
						</div>
					</div>

				<!-- <div class="test_data2 text-right">
					<div class="test_data_left">
						<div class="banner-en font18 test_data_en">
							<i>3</i>
							<h3>Turn on the mixer and wait until the blue button is stable.</h3>
						</div>
					</div>

					<div class="test_data_right">
						<div class="test_video text-right">
							<div class="test_data_left">
								<div class="test_video1 text-center">
									<video class="edui-upload-video  vjs-default-skin video-js" controls="" preload="none" width="420" height="280" src="__IMG_PATH__/test_data/test_data_01.mp4" data-setup="{}" poster="__IMG_PATH__/test_data/test_data_05.jpeg"></video>
								</div>
							</div>
						</div>
					</div>
				</div> -->

				

				<!-- <div class="test_data2 text-right">
					<div class="test_data_left">
						<div class="banner-en font18 test_data_en">
							<i>4</i>
							<h3>Hold the button for 5 seconds and release it. When the blue button is flashing, insert the USB drive on the mixer's back cover Next wait for a few seconds until the blue button is stable. Then turn off the mixer and remove the USB drive.</h3>
						</div>
					</div>

					<div class="test_data_right">
						<div class="test_video text-right">
							<div class="test_data_left">
								<div class="test_video1 text-center">
									<video class="edui-upload-video  vjs-default-skin video-js" controls="" preload="none" width="420" height="280" src="__IMG_PATH__/test_data/test_data_02.mp4" data-setup="{}" poster="__IMG_PATH__/test_data/test_data_05.jpeg"></video>
								</div>
							</div>
						</div>
					</div>
				</div> -->


				<!-- <div class="test_data2 text-right">
					<div class="test_data_left">
						<div class="banner-en font18 test_data_en">
							<i>3</i>
							<h3>Turn on the mixer and wait until the blue button is stable.</h3>
						</div>
						<div class="test_video text-right">
							<div class="test_data_left">
								<div class="test_video1 text-center">
									<video class="edui-upload-video  vjs-default-skin video-js" controls="" preload="none" width="420" height="280" src="__IMG_PATH__/test_data/test_data_01.mp4" data-setup="{}" poster="__IMG_PATH__/test_data/test_data_05.jpeg"></video>
								</div>
							</div>
						</div>
					</div>
					
					<div class="high1-img">
						<img class="test_data_arrow1" src="__IMG_PATH__/test_data/test_data_12.png" >
					</div>
					<div class="test_data_right">
						<div class="banner-en font18 test_data_en">
							<i>4</i>
							<h3>Hold the button for 5 seconds and release it. When the blue button is flashing, insert the USB drive on the mixer's back cover Next wait for a few seconds until the blue button is stable. Then turn off the mixer and remove the USB drive.</h3>
						</div>
						<div class="test_video text-right">
							<div class="test_data_left">
								<div class="test_video1 text-center">
									<video class="edui-upload-video  vjs-default-skin video-js" controls="" preload="none" width="420" height="280" src="__IMG_PATH__/test_data/test_data_02.mp4" data-setup="{}" poster="__IMG_PATH__/test_data/test_data_05.jpeg"></video>
								</div>
							</div>
						</div>
					</div>
				</div> -->

				<div class="product-information padding-t80 test_video1" >
					<!-- <table class="fm_table" border="1">
						<tr>
						  	<th class="a_td_name"></th>
						  	<th class="a_td_name">QC</th>
						  	<th class="a_td_name">Program</th>
						</tr>
						<tr>
						  	<td class="a_td_name">新冠</td>
						  	<td class="a_td_name">0011C</td>
						  	<td class="a_td_name"><a href="__IMG_PATH__/test_data/Program_0011C.pdf" download="Program_0011C" class="a_td">Program</a></td>
						</tr>
						<tr>
							<td class="a_td_name">甲乙新</td>
							<td class="a_td_name">0021C</td>
							<td class="a_td_name"><a href="__IMG_PATH__/test_data/Program_0021C.pdf" download="Program_0021C" class="a_td">Program</a></td>
						</tr>
					  </table> -->

					  
					<div class="index1-text2">
						<span>Product Resources</span>
					</div>
					<div class="text-center test_data_item">
						<img class="test_data_icon" src="__IMG_PATH__/test_data/test_data_06.jpeg" >
						<div class="test_data_item_1 line2">
							<h3>The red line in the figure represents QC.</h3> 
						</div>
					</div>
					<div class="test_data_div">
						<div class="proInfo-list test_data_list">
							<div class="new_proInfo-item margin-b30 test_data_color">
								<a href="__IMG_PATH__/test_data/0011A/Program.txt" download="Program">
									<div class="new_proInfo-item-left">
										<i></i>
										<p>Download</p>
									</div>
									<div class="new_proInfo-item-right line3">
										<!-- <p>名称:新冠</p>  -->
										<p class="new_p">QC:0011A</p>
										<p>Program.txt</p>
									</div>
								</a>
							</div>
							<div class="new_proInfo-item margin-b30 test_data_color">
								<a href="__IMG_PATH__/test_data/0011B/Program.txt" download="Program">
									<div class="new_proInfo-item-left">
										<i></i>
										<p>Download</p>
									</div>
									<div class="new_proInfo-item-right line3">
										<!-- <p>名称:甲乙新</p>  -->
										<p class="new_p">QC:0011B</p>
										<p>Program.txt</p>
									</div>
								</a>
							</div>
							<div class="new_proInfo-item margin-b30 test_data_color">
								<a href="__IMG_PATH__/test_data/0011C/Program.txt" download="Program">
									<div class="new_proInfo-item-left">
										<i></i>
										<p>Download</p>
									</div>
									<div class="new_proInfo-item-right line3">
										<!-- <p>名称:甲乙新</p>  -->
										<p class="new_p">QC:0011C</p>
										<p>Program.txt</p>
									</div>
								</a>
							</div>
							<div class="new_proInfo-item margin-b30 test_data_color">
								<a href="__IMG_PATH__/test_data/0011D/Program.txt" download="Program">
									<div class="new_proInfo-item-left">
										<i></i>
										<p>Download</p>
									</div>
									<div class="new_proInfo-item-right line3">
										<!-- <p>名称:甲乙新</p>  -->
										<p class="new_p">QC:0011D</p>
										<p>Program.txt</p>
									</div>
								</a>
							</div>
							<div class="new_proInfo-item margin-b30 test_data_color">
								<a href="__IMG_PATH__/test_data/0021C/Program.txt" download="Program">
									<div class="new_proInfo-item-left">
										<i></i>
										<p>Download</p>
									</div>
									<div class="new_proInfo-item-right line3">
										<!-- <p>名称:甲乙新</p>  -->
										<p class="new_p">QC:0021C</p>
										<p>Program.txt</p>
									</div>
								</a>
							</div>
							<div class="new_proInfo-item margin-b30 test_data_color">
								<a href="__IMG_PATH__/test_data/0021D/Program.txt" download="Program">
									<div class="new_proInfo-item-left">
										<i></i>
										<p>Download</p>
									</div>
									<div class="new_proInfo-item-right line3">
										<!-- <p>名称:甲乙新</p>  -->
										<p class="new_p">QC:0021D</p>
										<p>Program.txt</p>
									</div>
								</a>
							</div>
							<div class="new_proInfo-item margin-b30 test_data_color">
								<a href="__IMG_PATH__/test_data/0171C/Program.txt" download="Program">
									<div class="new_proInfo-item-left">
										<i></i>
										<p>Download</p>
									</div>
									<div class="new_proInfo-item-right line3">
										<!-- <p>名称:甲乙新</p>  -->
										<p class="new_p">QC:0171C</p>
										<p>Program.txt</p>
									</div>
								</a>
							</div>
							<div class="new_proInfo-item margin-b30 test_data_color">
								<a href="__IMG_PATH__/test_data/0171D/Program.txt" download="Program">
									<div class="new_proInfo-item-left">
										<i></i>
										<p>Download</p>
									</div>
									<div class="new_proInfo-item-right line3">
										<!-- <p>名称:甲乙新</p>  -->
										<p class="new_p">QC:0171D</p>
										<p>Program.txt</p>
									</div>
								</a>
							</div>
							<div class="new_proInfo-item margin-b30 test_data_color">
								<a href="__IMG_PATH__/test_data/0181C/Program.txt" download="Program">
									<div class="new_proInfo-item-left">
										<i></i>
										<p>Download</p>
									</div>
									<div class="new_proInfo-item-right line3">
										<!-- <p>名称:甲乙新</p>  -->
										<p class="new_p">QC:0181C</p>
										<p>Program.txt</p>
									</div>
								</a>
							</div>
							<div class="new_proInfo-item margin-b30 test_data_color">
								<a href="__IMG_PATH__/test_data/0181D/Program.txt" download="Program">
									<div class="new_proInfo-item-left">
										<i></i>
										<p>Download</p>
									</div>
									<div class="new_proInfo-item-right line3">
										<!-- <p>名称:甲乙新</p>  -->
										<p class="new_p">QC:0181D</p>
										<p>Program.txt</p>
									</div>
								</a>
							</div>
							<div class="new_proInfo-item margin-b30 test_data_color">
								<a href="__IMG_PATH__/test_data/0221C/Program.txt" download="Program">
									<div class="new_proInfo-item-left">
										<i></i>
										<p>Download</p>
									</div>
									<div class="new_proInfo-item-right line3">
										<!-- <p>名称:甲乙新</p>  -->
										<p class="new_p">QC:0221C</p>
										<p>Program.txt</p>
									</div>
								</a>
							</div>
							<div class="new_proInfo-item margin-b30 test_data_color">
								<a href="__IMG_PATH__/test_data/0231C/Program.txt" download="Program">
									<div class="new_proInfo-item-left">
										<i></i>
										<p>Download</p>
									</div>
									<div class="new_proInfo-item-right line3">
										<!-- <p>名称:甲乙新</p>  -->
										<p class="new_p">QC:0231C</p>
										<p>Program.txt</p>
									</div>
								</a>
							</div>
							<div class="new_proInfo-item margin-b30 test_data_color">
								<a href="__IMG_PATH__/test_data/0231D/Program.txt" download="Program">
									<div class="new_proInfo-item-left">
										<i></i>
										<p>Download</p>
									</div>
									<div class="new_proInfo-item-right line3">
										<!-- <p>名称:甲乙新</p>  -->
										<p class="new_p">QC:0231D</p>
										<p>Program.txt</p>
									</div>
								</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	
 