{layout name="layout" /}
		<div class="login-main" style="background-image: url(__IMG_PATH__/login/login-bg.jpg);">
			<div class="core">
				<div class="login-box">
					<h3>Login Account</h3>
					
					<div class="login-item">
						<h4>Email</h4>
						<div class="login-input">
							<i style="background-image: url(__IMG_PATH__/login/login-icon1.png);"></i>
							<input type="text" id="" value="" />
						</div>
					</div>
					
					<div class="login-item">
						<h4>Password</h4>
						<div class="login-input">
							<i style="background-image: url(__IMG_PATH__/login/login-icon2.png);"></i>
							<input type="password" id="" value="" />
						</div>
					</div>
					
					<div class="login-orther">
						<div class="login-next">
							<i></i>
							<span>Automatically Login</span>
						</div>
						<a href="">Forget Password</a>
					</div>
					
					<button class="login-btn" type="button">Login</button>
					
					<div class="to-register">
						<i></i>
						<span>Register</span>
						<i></i>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			$(".login-next i").click(function() {
				$(this).toggleClass("active")
			})
		</script>
		 