{layout name="layout" /}
<div class="ny-banner color-495877 reagent-banner" style="background-image: url({$cate.imagepath});">
	<div class="core">
		<h3 class="font46 font-bold line-height-1em">{$cate.picname}</h3>
		<div class="ny-banner-text">
			{$cate.description|raw}
		</div>
	</div>
</div>



<div class="reagent-detail">
	<div class="core">
		<div class="tit">
			<div class="tit-cn">Product Information</div>
		</div>

		<div class="reagent-detail-box1">
			<h3>{$reagentdata.title}</h3>
			<div class="reagent-detail-p-new">
				<p>
					{$reagentdata.content|raw}
				</p>
			</div>
			<h4>Highlights:</h4>
			<ul>
				{volist name="reagentdata.tags" id="item"}
				<li><i></i>
					<p>{$item}</p>
				</li>
				{/volist}
			</ul>
		</div>

		<div class="reagent-detail-box2">
			<div class="reagent-detail-box2-left">
				<div class="reagent-detail-box2-img">
					<img src="{$reagentdata.thumb_path}" alt="">
				</div>
			</div>
			<div class="reagent-detail-box2-right">
				<ul class="insdel-box2-tab">
					<li class="active">Technical Specification</li>
					<li>Workflow</li>
				</ul>
				<div class="reagent-detail-box2-info">
					<div class="reagent-detail-box2-info-cell active">
						{$reagentdata.technical|raw}
					</div>
					<div class="reagent-detail-box2-info-cell">
						{$reagentdata.workflow|raw}
					</div>
				</div>
				
			</div>
		</div>
		
		<style>
			.reagent-detail-box2-info-cell{
				display: none;
			}
			.reagent-detail-box2-info-cell.active{
				display: block;
			}
		</style>
		
		<script>
			var i = 0;
			$(".insdel-box2-tab li").hover(function() {
				i = $(this).index()
				$(this).stop().addClass("active").siblings().stop().removeClass("active")
				$(".reagent-detail-box2-info .reagent-detail-box2-info-cell").eq(i).stop().addClass("active").siblings().stop().removeClass("active")
			})
		</script>

		<div class="reagent-detail-box3" style="display: none">
			<h3>预期用途</h3>
			<div class="reagent-detail-box3-p">
				<p>{$reagentdata.intended_use|raw}</p>
			</div>
		</div>

		<div class="product-information" style="padding-top: 150px">
			<div class="index1-text2">
				<span>Product Resources</span>
			</div>
			<div class="proInfo-list">
				{volist name="reagentdata.files_url" id="item"}
				<div class="proInfo-item margin-b30">
					<a href="{$item.path}" download="{$item.name}">
						<div class="proInfo-item-left">
							<i></i>
							<p>Download</p>
						</div>

						<div class="proInfo-item-right line2">
							{$item.name}
						</div>
					</a>
				</div>
				{/volist}
			</div>
		</div>
	</div>
</div>
