{layout name="layout" /}

		<div class="ny-banner color-495877 reagent-banner">
			<img src="{$cate.imagepath}">

			<div class="core" style="position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">

				<h3 class="font46 font-bold line-height-1em">{$cate.picname}</h3>

				

				<div class="ny-banner-text">

					{$cate.description|raw}

				</div>

			</div>

		</div>

		

		

		<div class="reagent-food">

			<div class="core">

				<div class="index1-text2">

					<span>{$cate.picname}</span>

				</div>

					

				<div class="reagent-food-list">

					<ul>

						{volist name="reagentdata" id="item"}

						<li>

                            <a href="{:url('reagent_detail',['id'=>$item['id']])}">

								<div class="reagent-food-img"><img src="{$item.thumb_path}" alt=""></div>

								<div class="reagent-food-text">

									<p>{$item.title}</p>

									<p>{if $item['test_method']}（{$item['test_method']}）{/if}</p>

								</div>

							</a>

						</li>

						{/volist}

					</ul>

				</div>

				

				

				<div class="news-page">

					<a class="page-prev" href="{:$reagentdata->url($page-1)}"></a>

					<div><span>{$page}</span>/{$reagentdata->lastPage()}</div>

					<a class="page-next" href="{:$reagentdata->url( $page<$reagentdata->lastPage()?$page+1:$reagentdata->lastPage() )}"></a>

				</div>

			</div>

		</div>

	



