{layout name="layout" /}
		<div class="ny-banner color-495877 reagent-banner" style="background-image: url({$cate.imagepath});">
			<div class="core">
				<h3 class="font46 font-bold line-height-1em">{$cate.picname}</h3>
				<div class="ny-banner-text">
					{$cate.description|raw}
				</div>
			</div>
		</div>
		
		<div class="reagent">
			<div class="core">
					<div class="index1-text2">
						<!-- <span>{$reagent.title}</span> -->
						<span>{$cate.picname}</span>
					</div>
		
					<div class="insdel-box5-list">
						{volist name="reagentdata" id="item"}
						<div class="insdel-box5-item new-insdel-box5-item">
							<a href="{:url('reagent_detail',['id'=>$item['id']])}">
								<div class="new-insdel-box5-img">
									<img src="{$item.thumb_path}" alt="">
								</div>
								<div class="new-reagent-proitem-p">
									{$item.title}{if $item['test_method']}（{$item['test_method']}）{/if}
								</div>
							</a>
						</div>
						{/volist}
					</div>
				<!-- <div class="reagent-section1 wow bounceInUp">
					<div class="index1-text2">
						<span>{$reagent.title}</span>
					</div>
					<div class="reagent-section1-con">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								{volist name="reagentdata" id="item"}
								<div class="swiper-slide">
									<div class="reagent-proitem">
										<a href="{:url('reagent_detail',['id'=>$item['id']])}">
											<div class="reagent-proitem-img">
												<img src="{$item.design_path}" alt="">
											</div>
											<div class="reagent-proitem-kit">
												<img src="{$item.thumb_path}" alt="">
											</div>
											<div class="reagent-proitem-p">
												{$item.title}{if $item['test_method']}（{$item['test_method']}）{/if}
											</div>
										</a>
									</div>
								</div>
								{/volist}
							</div>
						</div>
						
						<div class="swiper-pagination"></div>
						
						<div class="swiper-prev"></div>
						<div class="swiper-next"></div>
					</div>
				</div>
				<script>
					var swiper = new Swiper('.reagent-section1-con .swiper-container', {
						slidesPerView: 4,
						spaceBetween: 20,
						slidesPerGroup: 1,
						loop: true,
						loopFillGroupWithBlank: true,
						// autoplay: {
						// 	delay: 3000,
						// 	disableOnInteraction: false,
						// },
						navigation: {
							nextEl: ".reagent-section1-con .swiper-next",
							prevEl: ".reagent-section1-con .swiper-prev",
						},
						pagination: {
							el: ".reagent-section1-con .swiper-pagination",
						}
					});
				</script> -->
				
				<!-- <div class="index1-item wow bounceInUp">
					<div class="index1-img">
						<img src="{$reagent.image_path2}" alt="">
					</div>
					
					<div class="index1-text">
						<h3>{$reagent.title2}</h3>
						<div class="index1-p">
							{$reagent.content2}
						</div>
						
						<a class="index-more" href="{:url('reagent_research')}"><span>DETAILS</span><em></em></a>
					</div>
				</div>
				
				
				<div class="index1-item wow bounceInUp">
					<div class="index1-text">
						<h3>{$reagent.title3}</h3>
						<div class="index1-p">
							{$reagent.content3}
						</div>
						
						<a class="index-more" href="{:url('reagent_food')}"><span>DETAILS</span><em></em></a>
					</div>
					<div class="index1-img">
						<img src="{$reagent.image_path3}" alt="">
					</div>
				</div> -->
			</div>
		</div>
	 