{layout name="layout" /}
		<div class="ny-banner color-495877" style="background-image: url({$solution.path});">
			<div class="core">
				<div class="banner-en font18 big-en">
					<i></i>
					<span>{$solution.entitle}</span>
				</div>

				<h3 class="font46 font-bold line-height-1em">{$solution.title}</h3>
			</div>
		</div>
		
		
		<div class="solution-high pageBg">
			<div class="core">
				<div class="index-tit">
					<h3>高通量全检测</h3>
					<p>
						<i></i>
						<span>High throughput full detection</span>
						<i></i>
					</p>
				</div>
				<div class="high1 text-right">
					<div class="high-left">
						<div class="high-text">
							<h2>1</h2>
							<div class="high-text-p1">
								<p>样本随来随检</p>
								<p>报告“立等可取”1分钟加样</p>
								<p>30分钟出结果</p>
							</div>
							<div class="high-text-p2">
								<p>帮助 “四早”落地，及时控制传染源，切断传播</p>
								<p>为急诊争取时间，缓解医院检验科压力</p>
							</div>
						</div>
						
						<ul class="high-ul">
							<li><i style="background-image: url(__IMG_PATH__/solution/high1-icon1.png);"></i><p>医院的急诊</p></li>
							<li><i style="background-image: url(__IMG_PATH__/solution/high1-icon2.png);"></i><p>医院的发热门诊</p></li>
							<li><i style="background-image: url(__IMG_PATH__/solution/high1-icon3.png);"></i><p>医院的检验科</p></li>
							<li><i style="background-image: url(__IMG_PATH__/solution/high1-icon4.png);"></i><p>疾控中心的实验室</p></li>
						</ul>
					</div>
					<div class="high-right">
						<div class="high1-img text-center">
							<img src="__IMG_PATH__/solution/high1-img.png" >
						</div>
					</div>
				</div>
				
				
				
				<div class="high2">
					<div class="high-left">
						<div class="high1-img">
							<img src="__IMG_PATH__/solution/high2-img.png" >
						</div>
					</div>
					<div class="high-right">
						<div class="high-text">
							<h2>2</h2>
							<div class="high-text-p1">
								<p>机动部署，安全规范</p>
								<p>现场采检，现场出报告</p>
							</div>
							<div class="high-text-p2">
								<p>帮助旅客快速通行，缓解交通滞留压力</p>
								<p>助力市民生产，生活和出行的有序运行,促进经济贸易的恢复</p>
							</div>
						</div>
						
						<ul class="high-ul">
							<li><i style="background-image: url(__IMG_PATH__/solution/high2-icon1.png);"></i><p>机场海关出入境</p></li>
							<li><i style="background-image: url(__IMG_PATH__/solution/high2-icon2.png);"></i><p>高速路关卡</p></li>
							<li><i style="background-image: url(__IMG_PATH__/solution/high2-icon3.png);"></i><p>行驶的游轮上</p></li>
							<li><i style="background-image: url(__IMG_PATH__/solution/high2-icon4.png);"></i><p>火车站进出站口</p></li>
						</ul>
					</div>
				</div>
				
				
				
				<div class="high3">
					<div class="high3-box">
						<div class="high-left text-right">
							<div class="high-text">
								<h2>3</h2>
								<div class="high-text-p1">
									<p>统筹调配，平战结合</p>
									<p>即达即检，日检万管</p>
									<p>触达需求的最基层、最前线</p>
								</div>
								<div class="high-text-p2">
									<p>缓解基层及边境地区检测条件不足的问题</p>
									<p>局部突发疫情时能够迅速调集</p>
									<p>形成强大的现场应急检测能力</p>
									<p>守护疫情防控最后一公里</p>
								</div>
							</div>
						</div>
						<div class="high-right">
							<ul class="high-ul">
								<li><i style="background-image: url(__IMG_PATH__/solution/high3-icon1.png);"></i><p>疫情核心区大规模精准筛查</p></li>
								<li>
									<i style="background-image: url(__IMG_PATH__/solution/high3-icon2.png);"></i>
									<p>缓解基层“医荒”、<br>医疗无法触达之地的问题</p>
								</li>
								<li><i style="background-image: url(__IMG_PATH__/solution/high3-icon3.png);"></i><p>大型赛事现场采检出报告</p></li>
								<li><i style="background-image: url(__IMG_PATH__/solution/high3-icon4.png);"></i><p>国内外重要会议现场采检出报告</p></li>
							</ul>
						</div>
					</div>
					
					<div class="high3-img">
						<img src="__IMG_PATH__/solution/high3-img.png" alt="">
					</div>
				</div>
				
				
				
				<div class="about-product">
					<div class="index-tit">
						<h3>相关产品</h3>
						<p>
							<i></i>
							<span>Related Products</span>
							<i></i>
						</p>
					</div>
					
					<ul class="about-prolist">
						<li>
							<a href="">
								<div class="about-proimg">
									<img src="__IMG_PATH__/solution/about-proimg1.png" alt="">
								</div>
								<div class="about-proname">
									<p>Mini8 Plus</p>
									<p>实时荧光定量PCR仪</p>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="about-proimg">
									<img src="__IMG_PATH__/solution/about-proimg2.png" alt="">
								</div>
								<div class="about-proname">
									<p>生物芯片分析仪</p>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="about-proimg">
									<img src="__IMG_PATH__/solution/about-proimg3.png" alt="">
								</div>
								<div class="about-proname">
									<p>闪测 Flash20</p>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="about-proimg">
									<img src="__IMG_PATH__/solution/about-proimg4.png" alt="">
								</div>
								<div class="about-proname">
									<p>Gentier 48E型</p>
									<p>实时荧光定量PCR检测系统</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	
 