<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{$seo.meta_title}</title>
		<meta name="keywords" content="{$seo.meta_keywords}">
		<meta name="description" content="{$seo.meta_description}">
		<link rel="icon" type="image/x-icon" href="icon.png" />
		<link rel="stylesheet" href="__CSS_PATH__/swiper.min.css" />
		<link rel="stylesheet" href="__CSS_PATH__/common.css?{:time()}" />
		<link rel="stylesheet" href="__CSS_PATH__/style.css?{:time()}" />
		<script type="text/javascript" src="__JS_PATH__/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="__JS_PATH__/wow.min.js"></script>
		<script type="text/javascript" src="__JS_PATH__/script.js"></script>
		<script type="text/javascript" src="__JS_PATH__/swiper.min.js"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-J1DGRNCQ6S"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-J1DGRNCQ6S');
        </script>
	</head>
	<body>
		<!-- 头部 开始 -->
		<div class="header ny-header">
			<div class="core">
				<div class="logo">
					<a href="/"><img src="{:config('web_site_logo')}" alt=""></a>
				</div>

				<div class="nav">
					{volist name="menu" id="item"}
					<div class="nav-item {if $item.active}active{/if}">
						<p>
							<a href="{:url($item['url'])}">{$item.catname}</a>
							{if $item['sub']}
							<i></i>
							{/if}
						</p>
						{if $item['sub']}
						<div class="nav-two">
							<div class="core">
								{volist name="item.sub" id="sub1"}
								<dl>
									<dt class="new-dt"><a href="{:url($sub1['url'])}">{$sub1.catname}</a></dt>
									{if $sub1['sub']}
									{volist name="sub1.sub" id="sub2"}
									<dd><a href="{:url($sub1['sub_url'],['id'=>$sub2['id']])}">{$sub2.title}</a></dd>
									{/volist}
									{/if}
								</dl>
								{/volist}
							</div>
						</div>
						{/if}
					</div>
					{/volist}
				</div>

				<div class="header-search">
					<a href="{:url('search')}"></a>
				</div>

				<div class="lang">
					<div style="display: flex; align-items: center;">
						<i></i><span>EN</span>
					</div>
					<div class="other-lang">
						<a class="other-lang-item" href="http://www.coyotebio.com/">
								<i></i><span>CN</span>
							</a>
					</div>
				</div>

				<!-- <div class="search">
					<i></i>
				</div>
					
				<div class="search-box">
					<input type="text" id="" value="" />
					<button type="button">搜索</button>
				</div> -->
			</div>
		</div>

		<div class="head-wall"></div>
		<!-- 内页头部 结束 -->

		{__CONTENT__}

		<div class="footer padding-t115">
			<div class="core">
				<div class="footer-main">
					<div class="footer-logo"><img src="{:config('web_bottom_logo')}" alt=""></div>
					<div class="footer-info">
						{volist name="mycompany" id="item"}
						{volist name="item" id="it"}
						<div class="finfo-item">
							<p>{$it.title}</p>
							<p>{$it.address}</p>
							<p>{$it.mobile}</p>
							<p>{$it.email}</p>
						</div>
						{/volist}
						{/volist}
					</div>
				</div>

				<div class="footer-bottom">
					<!-- <div class="flex-shrink0 padding-r20">
						<div class="fewm">
							<img src="{:config('web_bottom_qrcode')}" alt="">
						</div>
					</div> -->

					<div class="fshare">
						<a style="background-image: url(__IMG_PATH__/footer-icon1.png);" target="_blank"
							href="{:config('web_site_in')}"></a>
						<a style="background-image: url(__IMG_PATH__/footer-icon2.png);" target="_blank"
							href="{:config('web_site_youtube')}"></a>
						<a style="background-image: url(__IMG_PATH__/footer-icon3.png);" target="_blank"
							href="{:config('web_site_fackbook')}"></a>
						<a style="background-image: url(__IMG_PATH__/footer-icon4.png);" target="_blank"
							href="{:config('web_site_twitter')}"></a>
						<a style="background-image: url(__IMG_PATH__/footer-icon5.png);" target="_blank"
							href="{:config('web_site_instagram')}"></a>
					</div>
					<div class="fb-p">
						<p>
							{volist name="bottom_menu" id="item"}
							<a href="{:url($item['url'])}">{$item.catname}</a>
							{if count($bottom_menu) != $key+1}
							<em>/</em>
							{/if}
							{/volist}
							<em>/</em>
							<!--<a href="{:url('index/login')}">Support</a>-->
						</p>
						<p>{:config('web_site_icp')}</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
